// Variables
$black: #8A521E;
$body: 18px;
$body-mobile: 16px;
$height: 80px;
$height-mobile: 60px;
$radii: 20px;
$bg: #fff;
$font: 'MonumentGroteskMono';

// Styles
#mc_embed_signup form {
    margin-top: 30px;
    display: block;
    width: 100%;
    position: relative;
    text-align: left;
}
#mc_embed_signup_scroll {
    display: flex;
    margin: 20px 0 20px;
}
#mc_embed_signup h2 {
    font-weight: bold;
    padding: 0;
    margin: 15px 0;
    font-size: $body;
}
#mc_embed_signup input {
    border: 1px solid $black;
    font-size: $body;
    font-family: $font;
    height: $height;
    -webkit-border-radius: $radii;
    -moz-border-radius: $radii;
    border-radius: $radii;
}
#mc_embed_signup input[type="checkbox"] {
    -webkit-appearance: checkbox;
}
#mc_embed_signup input[type="radio"] {
    -webkit-appearance: radio;
}
#mc_embed_signup input:focus {
    border-color: #333;
}
#mc_embed_signup .button {
    clear: both;
    background-color: $black;
    border: 0 none;
    -webkit-border-radius: $radii;
    -moz-border-radius: $radii;
    border-radius: $radii;
    transition: all 0.23s ease-in-out 0s;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: $body;
    font-family: $font;
    letter-spacing: 0.015em;
    font-weight: normal;
    height: $height;
    line-height: 32px;
    margin: 0;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}
#mc_embed_signup .button:hover {
    background-color: #777;
}
#mc_embed_signup .small-meta {
    font-size: 11px;
}
#mc_embed_signup .nowrap {
    white-space: nowrap;
}

#mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    width: 100%;
    min-height: 50px;
    margin: 0 20px 0 0;
}
#mc_embed_signup .size1of2 {
    clear: none;
    float: left;
    width: 46%;
    margin-right: 4%;
}
* html #mc_embed_signup .size1of2 {
    margin-right: 2%; /* Fix for IE6 double margins. */
}
#mc_embed_signup .mc-field-group label {
    display: block;
    margin-bottom: 3px;
}
#mc_embed_signup .mc-field-group input {
    display: block;
    width: 100%;
    padding: 8px 16px;
    text-indent: 2%;
}
#mc_embed_signup .mc-field-group select {
    display: inline-block;
    width: 99%;
    padding: 5px 0;
    margin-bottom: 2px;
}

#mc_embed_signup .datefield,
#mc_embed_signup .phonefield-us {
    padding: 5px 0;
}
#mc_embed_signup .datefield input,
#mc_embed_signup .phonefield-us input {
    display: inline;
    width: 60px;
    margin: 0 2px;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 0 2px 0;
}
#mc_embed_signup .phonefield-us .phonearea input,
#mc_embed_signup .phonefield-us .phonedetail1 input {
    width: 40px;
}
#mc_embed_signup .datefield .monthfield input,
#mc_embed_signup .datefield .dayfield input {
    width: 30px;
}
#mc_embed_signup .datefield label,
#mc_embed_signup .phonefield-us label {
    display: none;
}

#mc_embed_signup .indicates-required {
    text-align: right;
    font-size: 11px;
    margin-right: 4%;
}
#mc_embed_signup .asterisk {
    color: #e85c41;
    font-size: $body;
    font-weight: normal;
    position: relative;
    top: 5px;
}
#mc_embed_signup .clear {
    clear: both;
}

#mc_embed_signup .mc-field-group.input-group ul {
    margin: 0;
    padding: 5px 0;
    list-style: none;
}
#mc_embed_signup .mc-field-group.input-group ul li {
    display: block;
    padding: 3px 0;
    margin: 0;
}
#mc_embed_signup .mc-field-group.input-group label {
    display: inline;
}
#mc_embed_signup .mc-field-group.input-group input {
    display: inline;
    width: auto;
    border: none;
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    clear: both;
}
#mc_embed_signup div.response {
    font-weight: normal;
    float: left;
    top: -1.5em;
    z-index: 1;
    width: 80%;
}
#mc_embed_signup #mce-error-response {
    display: none;
}
#mc_embed_signup #mce-success-response {
    color: $black;
    display: none;
}
#mc_embed_signup label.error {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.05em;
    text-align: left;
    padding: 0.5em 0;
}

#mc-embedded-subscribe {
    clear: both;
    width: auto;
    display: block;
    margin: 1em 0 1em 5%;
}
#mc_embed_signup #num-subscribers {
    font-size: $body;
}
#mc_embed_signup #num-subscribers span {
    padding: 0.5em;
    border: 1px solid #ccc;
    margin-right: 0.5em;
    font-weight: bold;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    display: inline-block;
    margin: 2px 0 1em 0;
    padding: 5px 0;
    background-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    font-family: $font;
    z-index: 1;
    color: #e85c41;
}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border: 1px solid #e85c41;
}




@media (max-width: 800px) {

    .form-inline input {
      margin: 10px 0;
    }
  
    #mc_embed_signup_scroll {
      flex-direction: column;
      align-items: stretch;
    }
    #mc_embed_signup .button {
        width: 100%;
        height: $height-mobile; 
        -webkit-border-radius: $radii;
        -moz-border-radius: $radii;
        border-radius: $radii;
        font-size: $body-mobile;

    }
    #mc_embed_signup input {
        height: $height-mobile;
        -webkit-border-radius: $radii;
        -moz-border-radius: $radii;
        border-radius: $radii;
        font-size: $body-mobile;
        margin-bottom: 10px;
    }
  }