@import "webfonts";
@import "signup";

// Variables

$black: #8A521E;
$shadow: drop-shadow(0px 0px 30px #8a521e8a);

// Base

body {
  background-color: #fff;
  font-size: 36px;
  letter-spacing: -0.02em;
  margin: 30px;
  color: $black;
  font-family: "Times Seven", "Times New Roman", Times, serif;
}

p {
  line-height: 1.45em;
  margin: 0 0 30px;
}



p.caption {
  font-size: 16px;
  font-family: "MonumentGroteskMono";
  margin-bottom: 5px;
}

a {
  color: $black;
  text-decoration: underline;
  &:hover {
    opacity: 0.6;
  }
}

* {
  box-sizing: border-box;
}

// sections

header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  .logo-wrap {
    svg.logo {
      margin: 0 90px 30px 0;
      max-width: 80vw;
      width: 30vw;
      fill: $black;
      transform: rotate(-10deg);
    }
    svg.wine {
      width: 40vw;
      max-width: 90vw;
    }
  }
  .header-links {
    display: flex;
    a {
      text-decoration: none;
      text-align: center;
      margin-left: 20px;
      padding: 6px 14px;
      color: white;
      background-color: $black;
      border-radius: 50px;
      font-size: 16px;
      font-family: "MonumentGroteskMono";
    }
  }
}


section.banner {
  margin: 60px 0;
  max-width: 2000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  .img-wrap {
    position: relative;
    width: 100%;
    .globe {
      width: 100%;
      filter: $shadow;
      border-radius: 100%;
    }
    .caption {
      position: absolute;
      top: 10%;
      left: 0;
    }
  }

}




.main {
  margin: 90px auto;
  .text-body {
    grid-column: span 2;
    max-width: 32em;
    margin-bottom: 60px;
    .signup-wrapper {
      margin: 60px 0 0;
    }
  }
}

footer {
  border-top: 1px solid $black;
  padding-top: 20px;
  margin-top: 60px;
  position: relative;
  max-width: 2000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  .caption-key {
    grid-column: span 2;
    ol {
      margin: 0;
      padding-left: 30px;
      -moz-column-count: 2;
      -moz-column-gap: 30px;
      -webkit-column-count: 2;
      -webkit-column-gap: 30px;
      column-count: 2;
      column-gap: 60px;
      justify-content: start;
      li {
        font-family: "MonumentGroteskMono";
        font-size: 16px;
        margin: 0 0 10px;
      }
    }
  }
  .copyright {
    text-align: right;
  }
}


:focus-visible {
  outline: none;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.4);
}

@media (max-width: 1380px) {
  header {
    .logo-wrap {
      svg.logo {
        margin: 30px 30px 30px 0;
        width: 25vw;
      }
      svg.wine {
        width: 30vw;
      }
    }
  }
}

@media (max-width: 1000px) {
  body {
    margin: 20px;
    font-size: 24px;
  }

  section.banner {
    grid-template-columns: 1fr;
    column-gap: 40px;
    row-gap: 60px;
  }

  header {
    flex-direction: column;
    .header-links a {
      margin: 0 20px 0 0;
    }
    .logo-wrap {
      svg.logo {
        margin: 30px 90px 30px 0;
        width: 70vw;
      }
      svg.wine {
        width: 80vw;
      }
    }
    
    
  }

  .main {
    .caption-key {
      grid-column: span 2;
      grid-row: 5;
    }
  }

  footer {
    grid-template-columns: 1fr;
    div {
      margin-bottom: 20px;
    }
    .caption-key {
      ol { 
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
      }
    }
    .copyright {
      margin-top: 30px;
      text-align: left;
    }
    
  }
}
