@import "webfonts";
@import "signup";

// Variables

$black: #141414;
$shadow: drop-shadow(0px 0px 30px rgba(30, 30, 30, 0.4));

// Base

body {
  background-color: #fff;
  font-size: 30px;
  letter-spacing: 0.01em;
  margin: 40px;
  color: $black;
  font-family: "TimesTenLT-Roman" "Times New Roman", Times, serif;
}

p {
  line-height: 1.45em;
  margin: 0 0 30px;
}

ol {
  margin: 0;
  padding-left: 30px;
  li {
    font-family: "MonumentGroteskMono";
    font-size: 14px;
    margin: 0 0 10px;
  }
}

p.caption {
  font-size: 14px;
  font-family: "MonumentGroteskMono";
  margin-bottom: 5px;
}

a {
  color: $black;
  text-decoration: underline;
  &:hover {
    opacity: 0.6;
  }
}

* {
  box-sizing: border-box;
}

// sections

section,
header,
footer {
  // max-width: 1400px;
  margin: 0 auto 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 60px;
  .img-wrap {
    position: relative;
    width: 100%;
    .globe {
      width: 100%;
      filter: $shadow;
      border-radius: 100%;
    }
    .caption {
      position: absolute;
      top: 20px;
      left: 0;
    }
  }
  .logo-wrap {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    svg.logo {
      width: 300px;
      transform: rotate(-10deg);
      filter: $shadow;
      fill: $black;
    }
    .caption {
      position: absolute;
      top: 20px;
      left: 0;
    }
  }
}

.main {
  margin: 90px auto;
  .caption-key {
    grid-column: span 1;
  }
  .text-body {
    grid-column: span 2;
    max-width: 28em;
    div {
      margin-bottom: 60px;
    }
  }
}

footer {
  margin-top: 120px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .footer-links {
    display: flex;
    flex-direction: row;
    .button {
      padding: 5px 10px;
      border: 1px solid $black;
      border-radius: 50px;
      font-size: 14px;
      font-family: "MonumentGroteskMono";
      margin-right: 20px;
      a {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1000px) {
  section,
  header,
  footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    .logo-wrap {
      grid-column: span 2;
      height: 300px;
    }
    .img-wrap {
      grid-column: span 2;
    }
  }

  .main {
    .caption-key {
      grid-column: span 2;
      grid-row: 2;
    }
  }
}
